inputs/
outputs/
advancedClassificationLoop.o
advancedClassificationRecursion.o
basicClassification.o
main.o
maindloop
maindrec
mains
libclassloops.a
libclassloops.so
libclassrec.a
libclassrec.so
check_submition.py
.vscode/
Cprog1/
outputcheck.txt

